$primary: #1cb78d;
$secondary: #052c47;

$success: #74CC50;
$info: #475bca;
$warning: #ffbe0b;
$danger: #ff0000;

$light: #ffffff;
$dark: #1b1b1b;

// $border: #D9E0E4;
$border: #F1F3F5;
$text-muted: #616161;

$input-background: #fafbfb;
$input-placeholder: #9e9e9e;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);
