$primary: #1cb78d;
$secondary: #052c47;

$success: #22e11c;
$info: #475bca;
$warning: #ffbe0b;
$danger: #ff0000;

$light: #ffffff;
$dark: #1b1b1b;

$border: #8295A3;
$text-muted: #616161;

$input-background: #FAFBFB;
$input-placeholder: #9E9E9E;