@use 'variables';

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    border-radius: 0.625rem;
    font-weight: 600;
}

.btn-primary {
    color: variables.$light;
}

.btn-outline-primary {
    color: variables.$dark;
    border-width: 1.5px;
}