@use 'variables';

.phone-input {
	display: flex;
	flex-direction: column;

	label {
		color: variables.$dark;
		font-weight: 500;
		font-size: 0.875rem;
		line-height: 1.375rem;
		margin-bottom: 0.5rem;
	}

	div {
		display: flex;
		align-items: center;
		height: 3rem;
		border: 1px solid variables.$border;
		border-radius: 0.625rem;
		background-color: variables.$input-background;

		input {
			flex: 1;
			padding: 0.75rem 1rem;
			background-color: transparent;
			outline: none;
			border: none;
			height: 100%;
		}

		input::placeholder {
			color: variables.$input-placeholder;
		}

		.divider {
			height: 2rem;
			border-left: 1px solid variables.$border;
		}

		select {
			position: relative;
            width: auto;
			height: 100%;
			border: none;
			outline: none;
			background-color: transparent;
			color: variables.$text-muted;
			padding: 0.75rem 1rem;
            padding-right: 2.5rem;
			cursor: pointer;
			-moz-appearance: none;
			-webkit-appearance: none; 
			appearance: none;
		}

		select::after {
			content: '';
		}
	}

	div:focus-within {
        outline-style: solid;
		outline-width: 2px;
		outline-color: variables.$primary;
	}

	.input-error {
		margin-top: 0.5rem;
		color: variables.$danger;
		font-weight: 500;
		font-size: 0.875rem;
		white-space: pre-wrap;
	}
}
